Shortbread URL Shortener
<br><br>
<%= form_for @link do |f| %>
  <% if @link.errors.any? %>
  <ul>
    <% @link.errors.each do |msg| %>
    <li>We can't shorten that link! It's not a valid URL.</li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :original_url %><br>
  <%= f.text_field :original_url, required: true %><br>

  <%= f.submit "Shorten!" %>
<% end %>
