<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>HERE YOU GO</h1><br><br>
        <% shortened_url = "http://#{Link::URL_BASE}#{@link.short_url}" %>
        <div id="short-url">
          <%= link_to shortened_url, shortened_url, target: "blank" %>
        </div>
      </div>
    </div>
  </div>
</header>