<header class="intro">
  <div id="top-links">
    <h2>Top 100 Links</h2>
    <br><br>
    <div id='top-100-box'>
      <% upper_bound = Link::MOST_VISITED_LIMIT %>
      <% i = 1 %>
        <div class="col-md-2 top-100 h3 top-heading">Rank</div>
        <div class="col-md-3 top-100 h3 top-heading">Original URL</div>
        <div class="col-md-3 top-100 h3 top-heading">Visits</div>
        <div class="col-md-3 top-100 h3 top-heading">Short Url</div>
      <% @links.order("times_visited").reverse[0...upper_bound].each do |site| %>
          <div class="col-md-2 top-100 h4 "><%= i %></div>
          <div class="col-md-3 top-100 h4">
            <%= site.original_url.length < 28 ? site.original_url : site.original_url[0..27]+"..." %>
          </div>
          <div class="col-md-3 top-100 h4"><%= pluralize(site.times_visited, "visit") %></div>
            <% combined_url = "#{Link::URL_BASE}#{site.short_url}" %>
          <div class="col-md-3 top-100 h4"><%= link_to combined_url, "http://#{combined_url}", target: 'blank' %></div>
        <% i += 1 %>
      <% end %>
    </div>
  </div>
</header>